@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Courier New', Courier, monospace;
}

.quizBtn{
    border: 2px solid black;
    background-color: #C0C1C1;
    margin-top: 5px;
    padding: 4px;
    border-radius: 8px 8px 8px 8px;
    font-size: 30px;
    font-weight: 500;

}

.quizBtn:hover {
    box-shadow: 3px 3px 3px #aaaaaa;
    transform: scale(1.1); 
}