@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Courier New', Courier, monospace;
}

.quizBtn{
    border: 2px solid black;
    background-color: rgb(224, 224, 224);
    margin-top: 5px;
    padding: 2px;
}

.left-header{
    max-width: 30%;
}

main{
    min-width: 60%;
}

.main-body-red{
    min-height: 70vh;
}
.main-body{
    min-height: 65vh;
}